.container-playerOne {
    height: 100px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-playerTwo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin-right: 1rem;
}

.sentence {
    text-align: center;
}

.reset-box {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

