<div *ngIf="isPlayerOne();then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <h2 class="sentence">{{getSentencePlayerOne()}}</h2>
    <div class="container-playerOne">
        <div class="form">
        <mat-form-field hintLabel="Between 1 and 100" appearance="fill">
            <mat-label>Enter some input</mat-label>
            <input matInput type="number" min="1" max="100" #input maxlength="3" placeholder="Ex. 100" [formControl]="rateControl" (keyup.enter)="onSelect(input.value)" required>
            <mat-hint align="end"></mat-hint>
            <mat-error *ngIf="rateControl.invalid">Between 1 and 100</mat-error>
        </mat-form-field>
        </div>
        <div class="enter-button">
            <div *ngIf="isValidNumber(input.value);then thenButton else elseButton"></div>
                <ng-template #thenButton>
                    <button mat-raised-button color="primary" (click)="onSelect(input.value)">Enter</button>
                </ng-template>
                <ng-template #elseButton>
                    <button mat-raised-button color="primary">Enter</button>
                </ng-template>
        </div>
    </div>    
</ng-template>

<ng-template #elseBlock>
    <div *ngIf="isPerfect(); then gameFinish else playerTwoTurn"></div>
    <ng-template #gameFinish>
        <h2 class="sentence">Player 2 guessed correctly in {{getCounter()}} attempts! sum of deviation: {{getDeviation()}}</h2>
        <div class="reset-box">
            <div class="reset-button">
                <button mat-raised-button color="primary" (click)="resetGame()">Reset Game</button>
            </div>
        </div>
    </ng-template>
    <ng-template #playerTwoTurn>
        <div *ngIf="isGameOver(); then gameOver else continue"></div>
        <ng-template #gameOver>
            <h2 class="sentence">Player 2 run out of guesses! sum of deviation: {{getDeviation()}}</h2>
            <div class="reset-box">
                <div class="reset-button">
                    <button mat-raised-button color="primary" (click)="resetGame()">Reset Game</button>
                </div>
            </div>
        </ng-template>
        <ng-template #continue>
            <div *ngIf="isPlayerTwoFirstGuess();then playerTwoFirst else incorrect"></div>
                <ng-template #playerTwoFirst>
                    <h2 class="sentence">{{getSentencePlayerTwo()}}</h2>
                </ng-template>
                <ng-template #incorrect>
                    <h2 class="sentence">Incorrect. Player 2 have {{leftGuesses()}} left. Enter a value between 1 - 100.</h2>
                </ng-template>
            <div class="container-playerTwo">
                <div class="form">
                    <mat-form-field hintLabel="Between 1 and 100" appearance="fill">
                        <mat-label>Enter some input</mat-label>
                        <input matInput type="number" min="1" max="100" #input maxlength="3" placeholder="Ex. 100" [formControl]="rateControl" (keyup.enter)="onSelect(input.value)" required>
                        <mat-hint align="end"></mat-hint>
                        <mat-error *ngIf="rateControl.invalid">Between 1 and 100</mat-error>
                    </mat-form-field>
                </div>
                <div class="enter-button" >
                    <div *ngIf="isValidNumber(input.value);then thenButton else elseButton"></div>
                        <ng-template #thenButton>
                            <button mat-raised-button color="primary" (click)="onSelect(input.value)">Enter</button>
                        </ng-template>
                        <ng-template #elseButton>
                            <button mat-raised-button color="primary">Enter</button>
                        </ng-template>
                </div>
            </div>
        </ng-template>
    </ng-template>    
</ng-template>

<app-guess></app-guess>
